<div id="period-settigs">
	<div class="d-flex mb-3 justify-content-between">
		<div class="period-settings__item">
			<span>От</span>
			<input class="period__input input-text" data-period="begin" type="date">
		</div>
		<div class="period-settings__item">
			<span>До</span>
			<input class="period__input input-text" data-period="end" type="date">
		</div>
	</div>
</div>
<div id="visits-chart"></div>
<div id="views-chart"></div>
<div class="period-settings__item">
	<input id="get-period-data" class="btn mb-2" type="button" value="Показать">
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/admins/js/attendance-view.js" defer></script>