<div class="text-center">
	<h1><%= agent.title -%></h1>
</div>
<div>
	<img width="20%" src="<%= agent.main_photo -%>" alt="">
</div>
<div>
	<p>Телефоны: <%= agent.phones -%></p>
</div>
<div>
	<%= agent.text -%>
</div>