<link rel="stylesheet" href="/css/contacts.css">
	<h2 class="text-center fs-regular" style="display:none;">Контакты</h2>
	<section class="contacts">
		
		<div class="mails">
			<h4 class="mails__title">Контактные телефоны</h4>
			<ul class="mails__items">
				<li class="mails__item mail-item">
					<h4 class="mail-item__title">Основной телефон / Секретарь</h4>
					<p>
						<a href="mailto:info@mpkpru74.ru" class="mail-item__adress-link"><i class="fa fa-phone"></i> +7 (3519) <span>48-85-81</span></a>
					</p>
				</li>
				<li class="mails__item mail-item">
					<h4 class="mail-item__title">Круглосуточная<br />диспетчерская служба</h4>
					<p>
						<a href="mailto:#" class="mail-item__adress-link"><i class="fa fa-phone"></i> +7 (3519) <span>40-30-00</span></a>
						<a href="mailto:#" class="mail-item__adress-link"><i class="fa fa-phone"></i> +7 (3519) <span>41-31-14</span></a>
					</p>
				</li>
				<li class="mails__item mail-item">
					<h4 class="mail-item__title">Диспетчер по похоронам</h4>
					<p>
						<a href="mailto:#" class="mail-item__adress-link"><i class="fa fa-phone"></i>  +7 (3519) <span>48-85-80</span></a>
					</p>
				</li>
			</ul>
		</div>
		
		<div class="mails">
			<h4 class="mails__title">Электронная почта</h4>
			<ul class="mails__items">
				<li class="mails__item mail-item">
					<h4 class="mail-item__title">Основной e-mail / Секретарь</h4>
					<p>
						<a href="mailto:info@mpkpru74.ru" class="mail-item__adress-link"><i class="fa fa-envelope-o"></i> &nbsp; <span>info</span>@mpkpru74.ru</a>
					</p>
				</li>
				<li class="mails__item mail-item">
					<h4 class="mail-item__title">Директор</h4>
					<p>
						<a href="mailto:#" class="mail-item__adress-link"><i class="fa fa-envelope-o"></i> &nbsp; <span>dir</span>@mpkpru74.ru</a>
					</p>
				</li>
				<li class="mails__item mail-item">
					<h4 class="mail-item__title">Вопросы по работе сайта</h4>
					<p>
						<a href="mailto:#" class="mail-item__adress-link"><i class="fa fa-envelope-o"></i> &nbsp; <span>site</span>@mpkpru74.ru</a>
					</p>
				</li>
			</ul>
		</div>
		
		<div class="mails" style="display:none;">
			<h4 class="mails__title">Контакты отделов</h4>
			<ul class="mails__items">
				<li class="mails__item mail-item">
					<h4 class="mail-item__title">Бухгалтерия</h4>
					<p>
						<a href="mailto:#" class="mail-item__adress-link"><i class="fa fa-phone"></i>  +7 (3519) <span>48-85-82</span></a>
						<a href="mailto:info@mpkpru74.ru" class="mail-item__adress-link"><i class="fa fa-envelope-o"></i> &nbsp; <span>buh</span>@mpkpru74.ru</a>
					</p>
				</li>
				<li class="mails__item mail-item">
					<h4 class="mail-item__title">Отдел закупок</h4>
					<p>
						<a href="mailto:#" class="mail-item__adress-link"><i class="fa fa-phone"></i>  +7 (3519) <span>48-85-83</span></a>
						<a href="mailto:#" class="mail-item__adress-link"><i class="fa fa-envelope-o"></i> &nbsp; <span>zakup</span>@mpkpru74.ru</a>
					</p>
				</li>
				<li class="mails__item mail-item">
					<h4 class="mail-item__title">Плановый отдел</h4>
					<p>
						<a href="mailto:#" class="mail-item__adress-link"><i class="fa fa-phone"></i>  +7 (3519) <span>48-85-82</span></a>
						<a href="mailto:#" class="mail-item__adress-link"><i class="fa fa-envelope-o"></i> &nbsp; <span>plan</span>@mpkpru74.ru</a>
					</p>
				</li>
			</ul>
		</div>

		<div class="telephones" style="display:none;">
			<ul class="telephones__items">
				<li class="telephones__item telephone-item">
					<h4 class="telephone-item__title">Телефон</h4>
					<p>
						<a href="tel:#" class="telephone-item__tel-link">8 351 948-85-80</a>
					</p>
				</li>
			</ul>

			<h4 class="telephones__departments-title" style="display:none;">Отделы</h4>
			<ul class="telephones__departments departments">
				<li class="departments__item">
					<h5 class="departments__title">Бухгалтерия</h5>
					<p class="departments__tel">
						<span class="tel-icon">
							<i class="fa fa-phone"></i>
						</span>
						<a href="tel:#">8 351 948-85-82</a>
					</p>
					<p class="departments__mail">
						<span class="mail-icon">
							<i class="fa fa-envelope-o"></i>
						</span>
						<a href="mailto:#">mgn.kpru@yandex.ru</a>
					</p>
					<p class="departments__mode">Режим работы: c
						<span class="departments__mode-hours">11:00</span> до
						<span class="departments__mode-hours">23:00</span>
					</p>
				</li>
				<li class="departments__item">
					<h5 class="departments__title">Отдел закупок</h5>
					<p class="departments__tel">
						<span class="tel-icon">
							<i class="fa fa-phone"></i>
						</span>
						<a href="tel:#">8 351 948-85-80</a>
					</p>
					<p class="departments__mail">
						<span class="mail-icon">
							<i class="fa fa-envelope-o"></i>
						</span>
						<a href="mailto:#">mgn.kpru@yandex.ru</a>
					</p>
					<p class="departments__mode">Режим работы: c
						<span class="departments__mode-hours">11:00</span> до
						<span class="departments__mode-hours">23:00</span>
					</p>
				</li>
				<li class="departments__item">
					<h5 class="departments__title">Плановый отдел</h5>
					<p class="departments__tel">
						<span class="tel-icon">
							<i class="fa fa-phone"></i>
						</span>
						<a href="tel:#">8 351 948-85-80</a>
					</p>
					<p class="departments__mail">
						<span class="mail-icon">
							<i class="fa fa-envelope-o"></i>
						</span>
						<a href="mailto:#">mgn.kpru@yandex.ru</a>
					</p>
					<p class="departments__mode">Режим работы: c
						<span class="departments__mode-hours">11:00</span> до
						<span class="departments__mode-hours">23:00</span>
					</p>
				</li>
				<li class="departments__item" style="display:none;">
					<h5 class="departments__title">Заказ и организация похорон</h5>
					<p class="departments__tel">
						<span class="tel-icon">
							<i class="fa fa-phone"></i>
						</span>
						<a href="tel:#">8 351 948-85-80</a>
					</p>
					<p class="departments__mail">
						<span class="mail-icon">
							<i class="fa fa-envelope-o"></i>
						</span>
						<a href="mailto:#">mgn.kpru@yandex.ru</a>
					</p>
					<p class="departments__mode">Режим работы: c
						<span class="departments__mode-hours">11:00</span> до
						<span class="departments__mode-hours">23:00</span>
					</p>
				</li>
			</ul>
		</div>

		<div class="adress">
			<h4 class="mails__title">Почтовый адрес</h4>
			<p class="adress__item">455016,
				<br>Челябинская область, г. Магнитогорск,
				<br><b>ул. Чайковского, 90</b></p>
			<div class="adress__driving-directions">
				<div class="adress__cart">
					<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aba76d81e53105609b00be18ae667bbc3b60d1b9fac8970ef2d1365b6aa04e82a&amp;source=constructor" width="100%" height="300" frameborder="0"></iframe>
				</div>
				<div style="text-align:center; font-size:1.25em;">
					<br />
					<span>Координаты для навигатора: <b>53.3883, 59.0747</b></span>
				</div>
				<div class="adress__gps-coordinates gps-coordinates">
					<h4 class="gps-coordinates__title"></h4>
					<ul class="gps-coordinates__items">
						<li class="gps-coordinates__item" style="width: 100%;">
							
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="bank-info">
			<h4 class="mails__title">Банковские реквизиты</h4>
			<ul class="bank-info__requisites requisites">
				<li class="requisites__item">ИНН: <b>7445011137</b></li>
				<li class="requisites__item">КПП: <b>744501001</b></li>
				<li class="requisites__item">р/с: <b>40702810600000103482</b></li>
				<li class="requisites__item">Банк: <b>«Кредит Урал Банк» ОАО г. Магнитогорск</b></li>
				<li class="requisites__item">к/с: <b>30101810700000000949</b></li>
				<li class="requisites__item">БИК: <b>047516949</b></li>
			</ul>
		</div>
<br />
<br />
<br />
		<div class="feedback" style="display:none;">
			<h4 class="feedback__title">Напишите нам</h4>
			<form action="post" class="feedback__form feedback-form">
				<label class="feedback-form__name">
					<input type="text" placeholder="Ваше имя" required>
				</label>
				<label class="feedback-form__phone">
					<input type="text" placeholder="Ваш телефон" required>
				</label>
				<label class="feedback-form__email">
					<input type="text" placeholder="Ваш e-mail">
				</label>
				<textarea cols="30" rows="5" placeholder="Ваш вопрос" class="feedback-form__message"></textarea>
				<button type="button" class="btn feedback-form__btn">Отправить</button>
			</form>
		</div>
	</section>
	<script src="/js/contacts.js" defer></script>