
<style>
	.sgs-container {
		background: #fff;
		border:1px solid #000;
		margin: -1px;
	}
	.sgs-container h2 {
		margin: 30px;
	}
	.sgs-input-wrapper {
		text-align: center;
		margin: 30px;
	}
	.sgs-input, .sgs-btn {
		display: inline-block;
		vertical-align: top !important;
		font-size: 24px;
		padding: 12px;
		border: 1px solid #000;
		border-radius: 0;
	}
	.sgs-input {
		width: 70%;
		text-align: center;
	}
	.sgs-btn {
		width: 20%;
	}
</style>

<div class="sgs-container">
	<h2>Поиск товаров по магазину</h2>
	<div class="sgs-input-wrapper">
		<input class="sgs-input" type="text" placeholder="Введите название товара или услуги" /><%
		%><button class="btn sgs-btn"><span class="fa fa-search"></span></button>
	</div>
</div>

<script>
</script>