.documents-item:not(:first-child) {
    margin-top: 15px;
}

.documents-item {
    border: 1px #c3c3c3 solid;
    padding-bottom: 15px;
}

.documents-item__title {
    text-align: center;
    background: #eaeaea;
    border: 1px #c3c3c3 solid;
    padding: 7px;
    margin-bottom: 15px;
}

.documents-item__more {
	text-align: center;
}

.documents-item__text img {
	max-width: 100%;
	display: block;
	margin: 10px auto;
}

@media (min-width: 976px) {
	.documents-item__text img {
		max-width: 50%;
	}
}