/* СТИЛИ ЗАКАЗА */
ul {
    margin-top: 0;
    margin-bottom: 12.5px;
    padding-left: 0;
    list-style: none;
}

.basket-total {
    display: block;
    padding: 25px 25px 25px 28px;
    margin-top: 44px;
    text-align: left;
    position: relative;
    padding-bottom: 61px;
    margin: 0;
    margin-left: -10px;
}

.basket-total__sum {
    display: inline-block;
    position: absolute;
    top: 43px;
    left: 30%;
    color: #363636;
    font-size: 14px;
    font-family: "Noto Sans",Arial,sans-serif;
    line-height: 42px;
    margin-left: -190px;
    text-align: center;
    width: 380px;
    vertical-align: top;
}

.basket-total__sum span {
    display: inline-block;
    color: #1a1a1a;
    font-size: 20px;
    font-family: "Noto Sans",Arial,sans-serif;
    vertical-align: baseline;
    line-height: 25px;
    padding: 0 4px;
}

.basket-total__sum small {
    font-size: 14px;
    color: #1a1a1a;
    font-family: "Noto Sans",Arial,sans-serif;
}

.basket-nav {
    display: table;
    width: 100%;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}

.basket-nav__el:first-child {
    -webkit-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;
    border-left: 1px solid #c3c3c3;
    padding-left: 10px;
}

.basket-nav__el:last-child {
    -webkit-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;
    border-right: 1px solid #c3c3c3;
}

.basket-nav__el {
    font-family: 'Roboto', sans-serif;
    display: table-cell;
    width: 25%;
    text-transform: uppercase;
    font-size: 11px;
    padding: 12px 0;
    padding-left: 20px;
    letter-spacing: 1px;
    background-color: #fff;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    margin-left: -1px;
    border-right: none;
    position: relative;
    cursor: pointer;
}

.basket-nav__el span {
    display: block;
    text-align: center;
    color: #363636;
}

.basket-nav__el.current:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 9px;
    right: -11px;
    bottom: 0;
    content: '';
    border-top: 1px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
    border-right: none;
    -webkit-transform: rotate(-1682deg) skewX(-37deg);
        -ms-transform: rotate(-1682deg) skewX(-37deg);
            transform: rotate(-1682deg) skewX(-37deg);
    width: 21px;
    height: 17px;
    -webkit-border-radius: 2px 3px 0 3px;
            border-radius: 2px 3px 0 3px;
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
    background-color: #fff;
    z-index: 2;
}

.basket-nav__el:last-child:after {
    display: none;
}

.basket-nav__el.link-disable {
    background-color: #f7f7f7;
    color: #363636;
}

.basket-nav__el.link-disable:after {
    background: #f7f7f7;
}

.basket-nav__el:not(last-child):after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -7px;
    width: 15px;
    background: #fff;
    border-right: 1px solid #c3c3c3;
    content: '';
    -webkit-transform: skewx(-22deg);
    z-index: 2;
}

.basket-nav__el:last-child:after {
    background: 0 0;
    border: none;
}

.basket-content {
    padding-bottom: 60px;
    display: block;
    position: relative;
}

.basket-contacts__form {
    position: relative;
    display: block;
    margin-bottom: 40px;
    text-align: center;
}

.basket-contacts__form-notify {
    margin-bottom: 40px;
    text-align: center;
}

.basket-contacts__form-notify-text {
    margin-bottom: -16px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #363636;
}

.basket-contacts__form-notify-link:hover {
    color: #ef6c35;
}

.lk__form {
    display: block;
    margin: 0 139px 0 139px;
    margin-bottom: 30px;
    padding-top: 36px;
    padding-bottom: 40px;
    background-color: #eaeaea;
}

.label {
    display: block;
    text-align: center;
}

.label--complex {
    position: relative;
    margin: 14px 80px;
}

.label__inside {
    display: block;
    position: relative;
}

.label__text {
    display: block;
    position: absolute;
    z-index: 1;
    width: 29%;
    padding-left: 10px;
    text-align: left;
    margin-bottom: 6px;
    bottom: -1px;
    left: 0;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #21201f;
    padding-top: 13px;
}

.label__text strong {
    color: #e57373;
    font-size: 9px;
    position: relative;
    top: -4px;
    margin-left: 0.4em;
    line-height: 1.4;
    font-weight: 800;
}

.input {
    display: block;
    margin: 0 auto;
    padding: 9px 20px 10px 20px;
    width: 100%;
    padding-left: 31%;
    text-align: left;
}

.input--simple {
    border: none;
    border-bottom: 1px solid #838181;
    -webkit-border-radius: 0;
            border-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: transparent;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 0;
    vertical-align: bottom;
}

.input:focus {
    outline: 0;
    background-color: #f4f2f0;
}

.label--middle {
    margin-bottom: 20px;
}

.required-explanation {
    margin-top: 23px;
    display: block;
    font-size: 12px;
    color: #3d3d3d;
    font-family: 'Roboto', sans-serif;
}

.required-explanation strong {
    color: #e57373;
    font-size: 9px;
    position: relative;
    top: -3px;
    margin-left: .3em;
}

.basket-total__next {
    font-family: 'Roboto', sans-serif;
    height: 35px;
    bottom: 9%;
    background-color: #363636;
    padding: 12px 29px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: none;
    position: absolute;
    right: 20%;
    cursor: pointer;
    margin-left: 0;
    vertical-align: center;
}

/*.basket-total__next:after {
    width: 14px;
    height: 35px;
    background: transparent url(../img/Arrow.png) no-repeat 0 0;
    content: '';
    position: absolute;
    right: -14px;
    top: 0;
    border: none;
}*/
.basket-total__next:hover {
    background-color: #ef6c35;
    color: #fff;
}

/*.basket-total__next:hover:after {
    width: 14px;
    height: 35px;
    background: transparent url(../img/Arrow.png) no-repeat 100% 0;
    content: '';
    position: absolute;
    right: -14px;
    top: 0;
    border: none;
}*/
/* СТИЛИ ДОСТАВКИ */
.top-line {
    padding-top: 32px;
    padding-bottom: 42px;
    margin-bottom: 0;
    font-family: "Noto Sans",Arial,sans-serif;
    text-align: center;
}

.top-line h3 {
    letter-spacing: 1px;
    font-family: "Noto Sans",Arial,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-transform: uppercase;
    background: #fff;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0 10px;
}

.top-line:before {
    bottom: auto;
    top: 90px;
    opacity: .3;
    height: 2px;
    left: 70px;
    right: 70px;
    position: absolute;
    display: block;
    content: "";
    background-image: -webkit-linear-gradient(left,transparent 0,#000000 50%,transparent 100%);
}

/* СТИЛИ ТАБОВ */
.basket-tabs .input-tabs {
    display: none;
}

.basket-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.basket-tabs .delivery-label {
    font-family: "Noto Sans",Arial,sans-serif;
    width: 1px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    color: #9c8f7d;
    background: url(../img/shadow__basket-content.png) no-repeat 50% 100%;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.history-wrapper {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin: 0;
    padding: 0px 0 0;
    background-color: white;
}

.history-wrapper:before {
    background-image: -webkit-linear-gradient(top,#e6e6e6 0,rgba(230,230,230,0) 66%,rgba(230,230,230,0) 100%);
    width: 1px;
    height: auto;
    top: 0;
    bottom: 0;
    content: '';
    z-index: 5;
}

.history-wrapper:after {
    background-image: -webkit-linear-gradient(top,#e6e6e6 0,rgba(230,230,230,0) 66%,rgba(230,230,230,0) 100%);
    width: 1px;
    height: auto;
    top: 0;
    bottom: 0;
    content: '';
    z-index: 5;
}

.basket-tabs input:checked+label {
    border: 1px solid #e6e6e6;
    border-bottom: 5px solid #fff;
    -webkit-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
    color: #1a1a1a;
    position: relative;
    background: #fff;
}

.basket-tabs input:checked+label+.history-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: none;
}

.basket-tabs label:hover {
    opacity: 0.9;
}

.order-items-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px dashed #000000;
    min-height: 70px;
    width: 100%;
}

.map-wrap {
    margin: 0 auto;
    margin-top: 50px;
    padding: 35px 20px 20px;
    width: 700px;
    background: #eaeaea;
    text-align: center;
}

.basket-total__prev {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #b4aa9c;
    border-left: none;
    position: relative;
    -webkit-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;
    font-family: "Noto Sans",Arial,sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .09em;
    padding: 8px 29px 8px 29px;
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
    background-color: transparent;
    color: #b4aa9c;
    text-decoration: none;
}

.basket-total__prev:before {
    position: absolute;
    top: 5px;
    left: -11px;
    content: '';
    border-top: 1px solid #b4aa9c;
    border-left: 1px solid #b4aa9c;
    -webkit-transform: rotate(-410deg) skewX(-15deg);
        -ms-transform: rotate(-410deg) skewX(-15deg);
            transform: rotate(-410deg) skewX(-15deg);
    width: 23px;
    height: 23px;
    -webkit-border-radius: 2px 3px 0 3px;
            border-radius: 2px 3px 0 3px;
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
    background-color: transparent;
}

.basket-total__prev:hover {
    background-color: #f6f5f4;
    color: #333333;
}

.basket-total__prev:hover:before {
    background-color: #f6f5f4;
}

.one-half {
    width: 50%;
}

.grid__item {
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.delivery-contacts {
    margin-top: 16px;
    padding-top: 20px;
    padding-bottom: 42px;
}

.delivery-contacts span {
    display: block;
    text-align: center;
    color: #1a1a1a;
}

.delivery-contacts-title {
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 10px;
}

.delivery-contacts-text {
    font-size: 15px;
}

.delivery-contacts-text a {
    color: #494540;
}

.delivery-price {
    padding: 12px 0 15px;
    text-align: center;
    position: relative;
}

.delivery-price:before {
    top: 0;
    background-image: -webkit-linear-gradient(left,rgba(230,230,230,0) 0,#c4bcbc 33%,#e7c3c3 75%,rgba(230,230,230,0) 100%);
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    content: '';
}

.delivery-price:after {
    bottom: 0;
    background-image: -webkit-linear-gradient(left,rgba(230,230,230,0) 0,#c4bcbc 33%,#e7c3c3 75%,rgba(230,230,230,0) 100%);
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    content: '';
}

span.delivery-price-titile {
    display: block;
    text-align: center;
    color: #766a6a;
    font-size: 11px;
    font-family: "Noto Sans",Arial,sans-serif;
}

span.delivery-price-value {
    color: #1a1a1a;
    font-size: 14px;
    line-height: 30px;
    font-family: "Noto Sans",Arial,sans-serif;
}

.map {
    margin: 20px auto;
    height: 300px;
    width: 500px;
}

.basket-content--shadow {
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1;
    background: url(../img/shadow__basket-content.png) no-repeat 50% 100%;
    -webkit-background-size: 100% auto;
            background-size: 100% auto;
}

.delivery-flat__current {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.button-cost {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    letter-spacing: .1em;
    line-height: 35px;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    background-color: #b4aa9c;
    font-family: "Noto Sans",Arial,sans-serif;
    color: #FFF;
    -webkit-border-radius: 3px;
            border-radius: 3px;
}

span.delivery-price-none {
    display: none;
}

.basket-total-wrap .basket-total .basket-total__prev {
    padding: 11px 29px 11px 29px;
}

.basket-total-wrap .basket-total .basket-total__prev:before {
    height: 21px;
}

.basket-total-wrap .basket-total .basket-total__next {
    right: 10%;
    bottom: 50%
}

.basket-total-wrap .basket-total .basket-total__sum {
    margin-left: 0;
    top: 18%;
}

.basket-list-wrap {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    font-family: "Noto Sans",Arial,sans-serif;
}

.basket-list {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 12.5px;
    padding-left: 0;
    list-style: none;
}

.basket-list__item {
    position: relative;
    margin-bottom: 30px;
    text-align: left;
    display: list-item
}

.basket-list__item-img {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 17%;
}

.basket-list__item-img>div {
    display: table-cell;
    height: 160px;
    vertical-align: middle;
    border: 0;
}

.basket-list__item-img>div>img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.basket-list__item-info {
    padding: 28px 40px 72px 40px;
    display: inline-block;
    vertical-align: top;
    width: 82%;
}

.basket-list__item-info__params {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.basket-list__item-info__params tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.basket-table__caption {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.basket-table__caption th {
    display: table-cell;
    line-height: 32px;
    color: #413f3e;
    font-size: 11px;
    text-align: left;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "Noto Sans",Arial,serif;
    padding: 0;
}

.order-table__hr {
    height: 1px;
}

.order-table__hr-small {
    position: relative;
    display: table-cell;
}

.order-table__hr div.hr {
    opacity: .3;
    height: 1px;
    left: 0;
    bottom: 0;
    position: absolute;
    display: block;
    content: "";
    background-image: -webkit-linear-gradient(left,transparent 0,rgba(0, 0, 0, 0.4) 50%,transparent 100%);
    padding: 0;
    width: 100%;
}

.basket-table__name {
    width: 190px;
    font-size: 14px;
    line-height: 21px;
    padding-right: 15px;
    vertical-align: top;
}

.basket-table tr td div {
    padding-top: 11px;
    padding-bottom: 13px;
}

.basket-table__code {
    width: 100px;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
}

.basket-table tr td div span {
    display: block;
}

.basket-table__material {
    width: 100px;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
}

.basket-table__size {
    width: 100px;
    font-size: 14px;
    line-height: 21px;
    padding-right: 15px;
    vertical-align: top;
}

.basket-table__price {
    padding-right: 0;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
}

.lk-item__title em {
    padding: 0 12px;
    position: relative;
    background-color: #FFF;
    display: inline-block;
    font-size: 14px;
    color: #333333;
}

.lk-item__title:before {
    top: 40px;
}

.lk-item__title.line-bef:before {
    top: 362px
}

.line-bef h3 {
    display: block;
}

.lk-item__block__content {
    padding: 40px 110px;
    display: block;
    margin: 0 auto;
    background-color: #fafafa;
}

.two-thirds {
    width: 66.666%;
}

.lk-item__block__content .input--simple {
    width: 100%;
    font-family: "Noto Serif",Georgia,serif;
    font-size: 16px;
    margin: 14px 0;
}

.lk-item__basket-total span {
    display: block;
}

.lk-item__basket-total {
    color: #b4aa9c;
    font-size: 11px;
    font-family: "Noto Sans",Arial,serif;
}

.lk__form .label--complex a {
    color: #b4aa9c;
    text-decoration: none;
}

.form-payment {
    font-size: 0;
    letter-spacing: -1px;
    text-align: center;
}

.grid {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -10px;
}

.form-payment label {
    letter-spacing: normal;
    padding-left: 10px;
}

.one-quarter, .three-twelfths, .two-eighths {
    width: 25%;
}

.grid__item {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.input-payment {
    display: none;
}

.current .payment-method {
    background: #fff;
    border-color: #b4aa9c;
}

.payment-method {
    display: block;
    height: 190px;
    padding-top: 50px;
    border: 2px solid #fafafa;
    background-color: #fafafa;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color .2s,border-color .2s;
    -o-transition: background-color .2s,border-color .2s;
    transition: background-color .2s,border-color .2s;
}

.payment-method:hover {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}

.current .payment-method:hover {
    background: #fff;
    border-color: #b4aa9c;
}

.current .input-payment-card+.payment-method .payment-method-img {
    background-position: 0 0;
}

.input-payment-card+.payment-method .payment-method-img {
    background-position: 0 -50px;
}

.current .payment-method-img {
    opacity: .45;
}

.payment-method-img {
    display: block;
    margin: 0 auto;
    width: 190px;
    height: 46px;
    background-image: url(../img/sprite__payment-v3.png);
}

.current .payment-method-name {
    color: #1a1a1a;
}

.payment-method-name {
    color: #bfbfbf;
    font-size: 12px;
    font-style: italic;
    display: block;
    margin-top: 25px;
    font-family: "Noto Sans",Arial,sans-serif;
}

.current .input-payment-sb+.payment-method .payment-method-img {
    background-position: -190px 0;
}

.input-payment-sb+.payment-method .payment-method-img {
    background-position: -190px -50px;
}

.current .input-payment-cash+.payment-method .payment-method-img {
    background-position: -570px 0;
}

.input-payment-cash+.payment-method .payment-method-img {
    background-position: -570px -50px;
}

.basket-content hr {
    overflow: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 1px;
    opacity: .1;
    background-color: #6fbdff;
    background-image: -webkit-linear-gradient(left,#fff 0,#4e2d00 50%,#fff 100%);
    width: 845px;
    display: block;
    margin: 0 auto;
    content: "";
    border: none;
}
