.section-center .section-title>div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.section-center .section-title div.section-title__center {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
}

@media (max-width: 767px) {
    .section-center .section-title div.section-title__center.section-title__center {
        -webkit-box-flex: 3;
        -webkit-flex: 3;
            -ms-flex: 3;
                flex: 3;
    }
}

.how-search__wrapp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.how-search {
    cursor: pointer;
}

.search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
}

@media (min-width: 767px) {
    .search {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }
}

.search__fio-wrapp {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.search-buttons__button {
    height: 100%;
}

.search__fio {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
}

.search-input-wrapp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.error-text p:not(:last-child) {
    margin-bottom: 16px;
}

.btn.search-buttons__button.search__settings {
    -webkit-border-radius: 0px;
            border-radius: 0px;
    width: 40px;
    background-color: transparent;
    color: #000;
    position: relative;
    left: 0px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
}

input.search__fio {
    padding-right: 40px;
    margin-right: -80px;
	font-size: 18px;
    text-align: center;
    border-color: #7a7a7a;
}

.search-info {
	margin-top: 3em;
}

button.btn.search-buttons__button.search__search-button {
    width: 100%;
    padding: 20px;
}

.search-result_buttons .btn {
    margin-bottom: 10px;
    width: 100%;
}

.search__result-info {
    margin: 10px 0px;
}

div#how-seach__info {
    margin-top: 20px;
}

.advanced_search {
    display: none;
    width: 100%;
    margin-bottom: 15px;
}

#how-seach__info {
    display: none;
}

.advanced_search.advanced_search__showed {
    display: block;
    background-color: #f3f3f3;
    border: 1px #c3c3c3 solid;
}

.advanced_search .input-text {
    width: 100%;
    margin-bottom: 20px;
}

.advanced-group {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    margin: 10px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
}

.advanced_f, .advanced_i, .advanced_o, .advanced_place, .advanced_grave {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.advanced-date {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}

.advanced-date label {
    margin: 0px 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.advanced_search label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
}

.advanced_search span {
    font-weight: 500;
    margin-bottom: 10px;
}

.search-section {
    display: none;
}

.search-fullname-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}

.error-creator {
    text-align: center;
    font-weight: bold;
    background-color: #eaeaea;
    border: 1px #c3c3c3 solid;
    padding: 7px;
    border-bottom: 0;
}

.error-text {
    border: 1px #c3c3c3 solid;
    padding: 20px 10px;
}

.error-created {
    text-align: right;
    background: #eaeaea;
    padding: 7px;
    border: 1px #c3c3c3 solid;
    border-top: 0;
}

.error-item {
    margin-bottom: 21px;
    border: 1px #c3c3c3 solid;
    padding: 5px;
}

@media (min-width: 767px) {
    button.btn.search-buttons__button.search__search-button {
        width: 150px;
        margin: 0px;
        padding: 10px;
    }

    .advanced_fio, .advanced_info {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }

    .advanced_search label {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row;
            -ms-flex-flow: row;
                flex-flow: row;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    }

    .advanced_search .input-text {
        width: auto;
        margin-bottom: 20px;
    }
}
