
		<link rel="stylesheet" href="/css/new-component.css">
		<h1>Новый компонент</h1>
		<script src="/js/new-component.js" defer></script>
		<% if(user.adminMode) { %>
			<script src="admin/js/new-component.js" defer></script>
		<% } %>
