<link rel="stylesheet" href="/css/login.css">
<script src="/vendors/maskedinput/jquery.maskedinput.js" defer></script>
<div class="login-wrapper">
	<div class="login-title" id="login-tabs" data-active="auth">
		<div class="login-title__item item__login" data-item="login" data-select="true">
			<a href="#">Вход</a>
		</div>
		<% if(siteConfig.get('allowRegistration') == '1' || siteConfig.get('allowRegistration') === '') { %>
			<div class="login-title__item item__register" data-item="register" data-select="false">
				<a href="#">Регистрация</a>
			</div>
		<% } %>
	</div>
	<div class="login-body login-reg">
		<% if(siteConfig.get('allowRegistration') == '1' || siteConfig.get('allowRegistration') === '') { %>
			<form name="register" method="POST" id="register-form" action="/register">
				<div class="login-body__input-group input-group required">
					<input type="text" class="login-body__input" type="text" name="surname" required placeholder="Фамилия">
				</div>
				<div class="login-body__input-group input-group required">
					<input type="text" class="login-body__input" type="text" name="firstname" required placeholder="Имя">
				</div>
				<div class="login-body__input-group input-group required">
					<input type="text" class="login-body__input" type="text" name="patronymic" required placeholder="Отчество">
				</div>
				<div class="login-body__input-group input-group">
					<input type="text" class="login-body__input" type="text" name="address" placeholder="Адрес">
				</div>
				<div class="login-body__input-group input-group required">
					<input type="text" class="login-body__input" type="text" name="email" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" placeholder="E-mail">
				</div>
				<div class="login-body__input-group input-group required">
					<input type="text" class="login-body__input" type="tel" name="phone" required placeholder="Номер телефона">
				</div>
				<div class="login-body__input-group input-group required">
					<input type="password" class="login-body__input" name="password" required placeholder="Пароль">
				</div>
				<div class="login-body__input-group input-group required">
					<input type="password" class="login-body__input" name="check-password" required placeholder="Подтверждение пароля">
				</div>
				<div class="login-body__input-group input-group login-body__agreement">
					<div>
						<input type="checkbox" name="agreement" class="login-agreement__checkbox" required>
					</div>
					<div class="login-agreement__right">
						<p>Я ознакомился и принимаю
							<a href="#" class="td-underline">Соглашение об оказании услуг</a>
						</p>
					</div>
				</div>
				<div class="login-body__input-group input-group text-center">
					<button class="btn login-body__register-button register-next">Продолжить</button>
				</div>
			</form>
		<% } else { %>
			<h3>Регистрация на сайте временно приостановленна</h3>
		<% } %>
		<form style="display: none" id="confirmRegisterForm" action="POST">
			<div class="login-body__input-group input-group required">
				<input id="confirmedCode" type="text" class="login-body__input" name="check-phone-code" placeholder="Проверочный код из SMS">
				<small>На указанный номер телефона была выслана SMS с кодом подтверждения</small>
			</div>
			<div class="login-body__input-group input-group text-center">
				<button class="btn login-body__register-button confirm-button">Подтвердить</button>
			</div>
		</form>
	</div>
	<div class="login-body login-auth">
		<form name="auth" method="POST" id="auth-form" action="/login">
			<div class="login-body__input-group">
				<input type="text" class="login-body__input" name="phone" required placeholder="Телефон" autofocus>
			</div>
			<div class="login-body__input-group">
				<input type="password" class="login-body__input" name="password" required placeholder="Пароль">
			</div>
			<div class="login-body__input-group text-center">
				<button class="btn login-body__register-button">Вход</button>
			</div>
			<% if(referer) { %>
				<input type="hidden" name="referer" value="<%= referer -%>">
			<% } %>
			<div class="login-body__input-group text-center">
				<a href="#" class="fs-regular td-underline" id="js-get-new-pass">Получить новый пароль</a>
			</div>
		</form>
	</div>
</div>
<script src="/js/login.js" defer></script>