
<link rel="stylesheet" href="/css/new-component2.css">
<h1>На22 столько новый компанент, что даже страшно</h1>
<script src="/js/new-component2.js" defer></script>
<% if(user.adminMode) { %>
	<script src="admin/js/new-component2.js" defer></script>
<% } %>
