<textarea id="js-report-error-text" class="input-text" cols="30" rows="10"></textarea>
<div class="text-center">
	<button id="js-report-error-send" class="btn">Отправить</button>
</div>
<script src="/js/report-error.js" defer></script>