<link rel="stylesheet" href="/css/first_page.css">
<script type="text/javascript" src="/vendors/leaflet/dist/leaflet.js"></script>
<script type="text/javascript" src="/vendors/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
<script src="/js/map.js"></script>

<div class="header">
	<img class="bg" src="/img/1/Layer 8.PNG">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="row">
				<div class="col-8">
					<h1>Срочное изготовление печатей и штампов</h1>
					<p><span>АКЦИЯ!!!</span></p>
					<p>При заказе 2х печатей на вторую скидка <span> 25% </span></p>
					<div class="btn btn1 toForm">
						Заказать в 1 клик
					</div>
					<div class="btn btn2">
						Всего от 250р
					</div>
				</div>
				<div class="col-4">
					<img class="shtamp" src="/img/1/Layer 9.PNG">
					<img class="shtamp" src="/img/1/Layer 3.PNG">
					<img class="shtamp" src="/img/1/Layer 10 copy 4.PNG">
					<img class="print" src="/img/1/за 15 минут!.PNG">
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</div>
<hr class="hr-text" data-content="Наша продукция">
<div class="goods">
	<div class="goods-block">
		<div class="first-good">
			<img src="/img/1/наша продукция/печати/Layer 20.PNG" alt="">
			<div class="rotate">
				<div class="angl"></div>
				<span>Печати</span>
			</div>
		</div>
		<div class="good">
			<img src="/img/1/наша продукция/печати/1/Layer 25.PNG" alt="">
			<div class="title">Название товара</div>
			<div class="row">
				<div class="col-6">
					<div class="prise">от <br> 5000 руб</div>
				</div>
				<div class="col-6">
					<div class="btn">Заказать</div>
				</div>
			</div>
		</div>
		<div class="good">
			<img src="/img/1/наша продукция/печати/1/Layer 25.PNG" alt="">
			<div class="title">Название товара</div>
			<div class="row">
				<div class="col-6">
					<div class="prise">от <br> 5000 руб</div>
				</div>
				<div class="col-6">
					<div class="btn">Заказать</div>
				</div>
			</div>
		</div>
		<div class="good">
			<img src="/img/1/наша продукция/печати/1/Layer 25.PNG" alt="">
			<div class="title">Название товара</div>
			<div class="row">
				<div class="col-6">
					<div class="prise">от <br> 5000 руб</div>
				</div>
				<div class="col-6">
					<div class="btn">Заказать</div>
				</div>
			</div>
		</div>
	</div>
	<div class="goods-block">
		<div class="first-good">
			<img src="/img/1/наша продукция/печати/Layer 20.PNG" alt="">
			<div class="rotate">
				<div class="angl"></div>
				<span>Лазерная гравировка</span>
			</div>
		</div>
		<div class="good">
			<img src="/img/1/наша продукция/печати/1/Layer 25.PNG" alt="">
			<div class="title">Название товара</div>
			<div class="row">
				<div class="col-6">
					<div class="prise">от <br> 5000 руб</div>
				</div>
				<div class="col-6">
					<div class="btn">Заказать</div>
				</div>
			</div>
		</div>
		<div class="good">
			<img src="/img/1/наша продукция/печати/1/Layer 25.PNG" alt="">
			<div class="title">Название товара</div>
			<div class="row">
				<div class="col-6">
					<div class="prise">от <br> 5000 руб</div>
				</div>
				<div class="col-6">
					<div class="btn">Заказать</div>
				</div>
			</div>
		</div>
		<div class="good">
			<img src="/img/1/наша продукция/печати/1/Layer 25.PNG" alt="">
			<div class="title">Название товара</div>
			<div class="row">
				<div class="col-6">
					<div class="prise">от <br> 5000 руб</div>
				</div>
				<div class="col-6">
					<div class="btn">Заказать</div>
				</div>
			</div>
		</div>
	</div>
	<div class="goods-block">
		<div class="first-good">
			<img src="/img/1/наша продукция/печати/Layer 20.PNG" alt="">
			<div class="rotate">
				<div class="angl"></div>
				<span>Ритуальная продукция</span>
			</div>
		</div>
		<div class="good">
			<img src="/img/1/наша продукция/печати/1/Layer 25.PNG" alt="">
			<div class="title">Название товара</div>
			<div class="row">
				<div class="col-6">
					<div class="prise">от <br> 5000 руб</div>
				</div>
				<div class="col-6">
					<div class="btn">Заказать</div>
				</div>
			</div>
		</div>
		<div class="good">
			<img src="/img/1/наша продукция/печати/1/Layer 25.PNG" alt="">
			<div class="title">Название товара</div>
			<div class="row">
				<div class="col-6">
					<div class="prise">от <br> 5000 руб</div>
				</div>
				<div class="col-6">
					<div class="btn">Заказать</div>
				</div>
			</div>
		</div>
		<div class="good">
			<img src="/img/1/наша продукция/печати/1/Layer 25.PNG" alt="">
			<div class="title">Название товара</div>
			<div class="row">
				<div class="col-6">
					<div class="prise">от <br> 5000 руб</div>
				</div>
				<div class="col-6">
					<div class="btn">Заказать</div>
				</div>
			</div>
		</div>
	</div>
	<div class="good-line">
		<span>А также фото на документы</span>
		<img src="/img/1/Layer 37.PNG" alt="">
		<img src="/img/1/Layer 36.PNG" alt="">
	</div>
</div>
<hr class="hr-text" data-content="Наши преимущества">
<div class="advantages">
	<div class="advantages_block">
		<div class="advantage">
			<div class="row">
				<div class="col-3">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="col-9">
					<span>Изготовление печатей за 15 минут</span>
				</div>
			</div>
		</div>
		<div class="advantage">
			<div class="row">
				<div class="col-3">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="col-9">
					<span>Оформление за 3 минуты</span>
				</div>
			</div>
		</div>
		<div class="advantage">
			<div class="row">
				<div class="col-3">
					<i class="fa fa-user-o"></i>
				</div>
				<div class="col-9">
					<span>Работаем в присутствии клиента</span>
				</div>
			</div>
		</div>
	</div>
	<div class="advantages_block">
		<div class="advantage">
			<div class="row">
				<div class="col-3">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="col-9">
					<span>При заказе от 3000 рублей бесплатная доставка по городу</span>
				</div>
			</div>
		</div>
		<div class="advantage">
			<div class="row">
				<div class="col-3">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="col-9">
					<span>Изготовление печатей за 15 минут</span>
				</div>
			</div>
		</div>
		<div class="advantage">
			<div class="row">
				<div class="col-3">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="col-9">
					<span>Изготовление печатей за 15 минут</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="map">
	<div style="height: 500px; width:100%" id="map"></div>
	<div class="q-form">
		<h2>Задайте свой вопрос по электронной почте</h2>
		<input type="text" class="input name form-control" placeholder="Имя">
		<input type="text" class="input email form-control" placeholder="Телефон или e-mail">
		<textarea rows="8" cols="80" class="input msg form-control" placeholder="Сообщение"></textarea>
		<div onclick="send_message(this)" class="btn btn-block">
			Отправить
		</div>
	</div>
</div>

<img class="paralax p1" src="/img/1/Layer 16.PNG" alt="">
<img class="paralax p2" src="/img/1/Layer 17.PNG" alt="">
<img class="paralax move p3" src="/img/1/Layer 89.PNG" alt="">
<img class="paralax move p4" src="/img/1/Layer 91.PNG" alt="">








<link rel="stylesheet" href="/vendors/leaflet/dist/leaflet.css">
<script>
	var map = new Map('map', 15, 53.408771, 58.977639);
	map.setCenter('53.408771, 58.977639');
	map.addMarker(53.408771, 58.977639);
</script>
<script src="/js/first_page.js" defer></script>
<% if(user.adminMode) { %>
	<script src="/admins/js/first_page.js" defer></script>
<% } %>
