
<link rel="stylesheet" href="/css/fordel.css">
<h1>для удаления</h1>
<script src="/js/fordel.js" defer></script>
<% if(user.adminMode) { %>
	<script src="/admins/js/fordel.js" defer></script>
<% } %>
		