.input-text, .select-text {
	display: block;
    padding: 4px 4px;
    width: 100%;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: border-color .2s;
    -o-transition: border-color .2s;
    transition: border-color .2s;
	position: relative;
	border: 1px #c3c3c3 solid;
}

.input-text:focus, .select-text:focus {
	border-color: #ef6c35;
	box-shadow: 0 5px 2px rgba(#ef6c35, .1);
}

.btn-blue, .select-set{
	width: 100%;
	max-width: 262px;
	padding: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: -webkit-gradient(linear, left bottom, left top, from(#1f2121), color-stop(35%, #333636), color-stop(68%, #5e6363), color-stop(95%, #686e6e));
	background: -webkit-linear-gradient(bottom, #1f2121 0%, #333636 35%, #5e6363 68%, #686e6e 95%);
	background: -o-linear-gradient(bottom, #1f2121 0%, #333636 35%, #5e6363 68%, #686e6e 95%);
	background: linear-gradient(to top, #1f2121 0%, #333636 35%, #5e6363 68%, #686e6e 95%);
	font-weight: 400;
	color: $white;
	text-align: center;
	cursor: pointer;
}

.select-set option {
    color: #000;
}