.table .thead-bg {
	color: #fff;
	font-size: 16px;
	background-color: #262626;
	background: linear-gradient(to bottom, #000000 0%, #636262 5%, #0f0f0f 51%, #080808 83%);
}

.table .tbody-p {
	padding-top: 20px;
}