<%- include('./includes/header') -%>

<main class="document-content section-wrapper">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100 section-center">
				<% if(route.show_title) { %>
                    <p class="section-title text-center"><%= route.title -%></p>
                <% } %>
                <div class="row h-100">
                    <div class="col section-content" tabindex="1">
                        <%- include('./includes/fragments-container', { block_id: 2 }) -%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('./includes/footer') -%>