<section>
	<form id="js-callback-form" method="POST">
		<h1>Оставьте свой номер и мы перезвоним вам</h1>
		<p>Ваш номер телефона</p>
		<input type="text" class="input-text" name="phone">
		<% if(targetId) { %>
			<input type="hidden" name="targetId" value="<%= targetId -%>">
		<% } %>
		<button class="btn">Заказать обратный звонок</button>
	</form>
</section>
<script src="/vendors/maskedinput/jquery.maskedinput.js" defer></script>
<script src="/js/callback-form.js" defer></script>